<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StayNest</title>
    </head>
    <body>
        <form method="post" action="/listings/<%= listing._id %>?_method=PUT">

            <input type="text" name="listing[title]"
                value="<%= listing.title %>"
                required><br><br>

            <textarea name="listing[description]"
                required><%= listing.description %>
            </textarea><br><br>

            <input type="url" name="listing[image]"
                value="<%= listing.image %>"><br><br>

            <input type="number" name="listing[price]"
                value="<%= listing.price %>"
                min="0" required><br><br>

            <input type="text" name="listing[location]"
                value="<%= listing.location %>" required><br><br>

            <input type="text" name="listing[country]"
                value="<%= listing.country %>" required><br><br>

            <button type="submit">Add Listing</button>
        </form>
    </body>
</html>