<% layout('./layouts/boilerplate.ejs') -%>

<body>
    <h2>Listing Details :</h2>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li>₹ <%= listing.price.toLocaleString("en-IN") %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
    </ul>
    <br><br>
    <a href="/listings/<%= listing._id %>/edit">Edit Listing</a> <br><br>

    <form action="/listings/<%= listing._id %>?_method=DELETE"
        method="post">
        <button>Delete Listing</button>
    </form>
</body>
