<% layout('layouts/boilerplate.ejs') %>

<body>
    <div class="row">
        <div class="col-md-8 offset-3">
            <h1 class="mt-3 mb-4"><%= listing.title %></h1>
        </div>
        <div class="card col-md-6 offset-3 show-card listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img"
                alt="listing-img">
            <div class="card-body mt-2">
                <p class="card-text "> Owned by :
                    <i>
                        <%= listing.owner.username%></i></p>
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text">
                    ₹ <%=listing.price.toLocaleString("en-IN") %></p>
                <p class="card-text "><%= listing.location %></p>
                <p class="card-text"><%= listing.country %></p>
            </div>
        </div>

        <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
        <div class="btns mb-5">
            <a href="/listings/<%= listing._id %>/edit"
                class="btn btn-dark col-1 offset-3">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE"
                method="post">
                <button
                    class="btn offset-5 px-4 add-btn">Delete</button>
            </form>
        </div>
        <% } %>

        <!-- Review page  -->
        <div class="col-8 offset-3">
            <% if(currentUser) { %>
            <h4>Leave a Review </h4>
            <form action="/listings/<%= listing.id %>/reviews"
                method="post"
                class="mb-3 needs-validation"
                novalidate>

                <!-- <input
                    type="range"
                    min="1"
                    max="5"
                    id="rating"
                    name="review[rating]"
                    class="form-range"> -->

                <div class="mb-3 mt-3">
                    <label for="rating" class="form-lable mb-2">Rating :</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate"
                            name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1"
                            name="review[rating]"
                            value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2"
                            name="review[rating]"
                            value="2" />
                        <label for="first-rate2" title="Not good">2
                            stars</label>
                        <input type="radio" id="first-rate3"
                            name="review[rating]"
                            value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4"
                            name="review[rating]"
                            value="4" />
                        <label for="first-rate4" title="Very good">4
                            stars</label>
                        <input type="radio" id="first-rate5"
                            name="review[rating]"
                            value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>

                <div class="mb-3 mt-3">
                    <label for="comment" class="form-lable">Comment :</label>
                    <textarea
                        id="comment"
                        name="review[comment]"
                        rows="4"
                        cols="50"
                        class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please add some comments for review
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Submit
                    Review</button>
            </form>
            <% } %>

            <hr />
            <h4><b>All Reviews</b></h4>
            <div class="row mt-4">
                <% for(review of listing.reviews){ %>
                <div class="card col-5 mb-3 ms-3 p-2">
                    <div class="card-body">
                        <h5 class="card-title"><u><%= review.author.username
                                %></u></h5>
                        <p class="starability-result card-text"
                            data-rating="<%= review.rating %>">
                        </p>
                        <p class="card-text"><%= review.comment %></p>
                    </div>
                    <form
                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                        method="POST" class="mb-2 mt-3">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
